@font-face {
  font-family: 'iconfont';  /* project id 254147 */
  src: url('//at.alicdn.com/t/font_mtle0fzid8mjwcdi.eot');
  src: url('//at.alicdn.com/t/font_mtle0fzid8mjwcdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_mtle0fzid8mjwcdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_mtle0fzid8mjwcdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_mtle0fzid8mjwcdi.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont'
}
#home{
    width: 100%;
    height: 100%;
}
#home .home-header{
    background-color: #fff;
    box-shadow: 0 1px 7px 0;
}
#home .home-header h2{
    background: url(../../../static/images/logo.png) no-repeat left top;
    background-size: 120px;
    height: 50px;
    margin: 0 0 0 30px;
    text-indent: 204px;
    line-height: 50px;
    font-size: 16px;
    color: #8c8c8c;
}
#home .home-main{
    position: absolute;
    min-width: 990px;
    width: 100%;
    top: 50px;
    bottom: 0;
}
#home .home-main-left{
    color: #fff;
    float: left;
    width: 190px;
    height: 100%;
    background: url('../../../static/images/line.png') no-repeat center 162px #4083ab;
    padding: 30px 0 0 0;
    position: relative;
    /*transition: 1s margin-left;*/
}
#home .leftShrinkStyle{
    margin-left: -190px;
}
#home .home-main .shrinkBtn{
    position: absolute;
    top: 55px;
    right: -15px;
    color: #c7d9e6;
    background-color: #4083ab;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}
#home .home-main .shrinkBtnRotate{
    transform: rotateY(180deg);
    right: -30px;
}
#home .router-link-active{
    background-color: #85b3ce !important;
}
#home .home-main-left .slh-logo{
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
#home .home-main-left .slh-logo+p{
    margin: 9px 0 0 0;
    text-align: center;
    font-size: 12px;
}
#home .home-main-left ul{
    margin: 28px 0 0 0;
    font-size: 14px;
}
#home .home-main-left ul li{
    height: 67px;
    line-height: 67px;
    padding: 0 0 0 60px;
}
#home .home-main-left ul li:first-child{
    background: url('../../../static/images/1.png') no-repeat 25px center;
}
#home .home-main-left ul li:nth-child(2){
    background: url('../../../static/images/2.png') no-repeat 25px center;
}
#home .home-main-left ul li:nth-child(3){
    background: url('../../../static/images/3.png') no-repeat 25px center;
}
#home .home-main-left ul li:nth-child(4){
    background: url('../../../static/images/4.png') no-repeat 25px center;
}
#home .home-main-left ul li:nth-child(5){
    background: url('../../../static/images/5.png') no-repeat 25px center;
}
#home .home-main-left .home-setting{
    position: absolute;
    left: 80px;
    bottom: 30px;
    width: 30px;
    height: 30px;
}
#home .home-main-right{
    float: left;
    margin: 20px 20px 0 20px;
    width: calc(100% - 230px);
    height: calc(100% - 20px);
}
#home .rightShrinkStyle{
    width: calc(100% - 40px);
}